<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Jobminx</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/styles.css" rel="stylesheet" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <script src="~/Scripts/respond.js"></script>
   

 
</head>
<body>
  
    <div class="container body-content">
        @RenderBody()
     
       
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Jobminx.com</p>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
</body>
</html>
