<div class="jumbotron" style="background-image:url(/images/homepage_leader_purple2.jpg); color:white; text-align:center; background-size:cover; margin-top: 130px; min-height: 410px;">
    <div class="container">

        <h2 class="cover-heading">Let us help you make your resume great again!</h2>
        <h4>First, you'll need need to either sign up or login if you already have an account.</h4>

        <br />
        <div>

            <p class="lead"><a href="/Login" class="btn btn-lg btn-primary">Login</a></p>

        </div>

        <div>
            <p class="lead"><a href="/Register" class="btn btn-lg btn-primary">Sign Up Now!</a></p>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <h1>A Smarter Job Search – Score your Next Job!</h1>
                <p>
                    Take the &#8220;Search&#8221; out of your job search. Let Jobminx do the searching for you. You&#8217;re invited to try a new job ranking system that calculates your skills match for a specific job. Stop searching. Spend your time applying to jobs with the highest resume match score. We&#8217;ll even help you make your resume smarter.
                </p>
            </div>
            <div class="col-lg-6">
                <h1>Make Your Resume Smarter – Get the Interview!</h1>
                <p>
                    Don&#8217;t make the mistake of writing a resume for a human instead of a machine. These days, companies use resume screening systems to screen candidates by ranking resumes for job match. Now, you can rank your resume for a particular job and get instant feedback about the keywords and phrases you need to make your resume smarter and machine friendly.
                </p>
            </div>
        </div>
    </div>



</div>    