<!-- ko with: home -->

<div style="background-color: transparent;" class="mdl-cell mdl-cell--12-col">
    <h2 style="color:white;">Upload Your Resume</h2>
   
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">

            <!-- Square card -->
            <style>
                .demo-card-square.mdl-card {
                   width: 320px;
                   height: 320px;
                   margin-left:auto;
                   margin-right:auto;
                }

                 #mycomputer.demo-card-square > .mdl-card__title  {
                    color: #fff;
                    background: url('../../images/desk-notebook-office-macbook.jpg') bottom right 15% no-repeat #46B6AC;
                }
            </style>

            <div id="mycomputer" class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Your Computer</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Click select below to choose a resume from your computer (pdf, doc, docx, txt)
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Select
                    </a>
                </div>
            </div>

        </div>
        <div class="mdl-cell mdl-cell--6-col">

            <!-- Square card -->
            <style>
                .demo-card-square.mdl-card {
                     width: 320px;
                     height: 320px;
                     margin-left:auto;
                     margin-right:auto;
                }

                #dropbox.demo-card-square > .mdl-card__title {
                    color: #fff;
                    background: url('../../images/dropbox.jpg') bottom right 15% no-repeat #46B6AC;
                }
            </style>

            <div id="dropbox" class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Your Dropbox</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Click select below to choose a resume from your Dropbox (pdf, doc, docx, txt)
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Select
                    </a>
                </div>
            </div>

        </div>

        <div class="mdl-cell mdl-cell--6-col">

            <!-- Square card -->
            <style>
                .demo-card-square.mdl-card {
                    width: 320px;
                    height: 320px;
                    margin-left: auto;
                    margin-right: auto;
                }

                #resumes.demo-card-square > .mdl-card__title {
                    color: #fff;
                    background: url('../../images/recentresumes.png') bottom right 15% no-repeat #46B6AC;
                }
            </style>

            <div id="resumes" class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Recent Resumes</h2>
                </div>
                <div class="mdl-card__supporting-text">
                   
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        See All
                    </a>
                </div>
            </div>

        </div>

        <div class="mdl-cell mdl-cell--6-col">

            <!-- Square card -->
            <style>
                .demo-card-square.mdl-card {
                    width: 320px;
                    height: 320px;
                    margin-left: auto;
                    margin-right: auto;
                }

                #jobs.demo-card-square > .mdl-card__title {
                    color: #fff;
                    background: url('../../images/recentjobs.png') bottom right 15% no-repeat #46B6AC;
                }
            </style>

            <div id="jobs" class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Recent Jobs</h2>
                </div>
                <div class="mdl-card__supporting-text">
                   
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        See All
                    </a>
                </div>
            </div>

        </div>


        
    </div>
   
   

   
    

</div>
<!-- /ko -->
